pipeline/LoadDimTables.json
{
	"name": "LoadDimTables",
	"properties": {
		"activities": [
			{
				"name": "LoopupforDimTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select name from sys.tables where name in ('DimProduct','DimEmployee')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LoadDimTablesDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoopupforDimTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tableName",
					"value": {
						"value": "@activity('LoopupforDimTables').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tableName')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDimTAbles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('Select * from dbo.',item().name)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowCopyCommand": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "LoadDimTablesDS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsDims",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"tableName": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}