pipeline/Pausededicatedpool_complex.json
{
	"name": "Pausededicatedpool",
	"properties": {
		"activities": [
			{
				"name": "Get list",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools?api-version=2021-06-01-preview')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Filter_Prod",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(endswith(item().name,'prod'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "paakossynapserg"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "96baafb0-41f2-4142-aaee-7bbb880d40f9"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "paakossynapse"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "paakossynapse"
			},
			"PauseorResume": {
				"type": "string"
			}
		},
		"annotations": []
	}
}